/* body{
    background-color: rgb(0, 81, 255);
    color: white;
} */
/* crtl+/ */
@import url("https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css");
.landpagebody{
    
    position: relative;
    top: 60px;
    color: white;
    background-color: #444;
    height: auto;
}
.main-home-page{
    position: relative;
    top: 60px;
    height: auto;
    min-height: 60rem;
}

.rowdies-text{
    font-family: 'Rowdies';
}
.search-filter-bar{
    height: 3.5rem;
    position: relative;
    right: 5px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.search-filter-bar .searchbar-form{
    align-items: center;
    display: flex;
    height: 100%;
    margin-right: 5px;
}

.search-filter-bar .searchbar-form .search-input{
    border-radius: 5px;
    margin: 5px;
    height: 2rem;
    width: 17rem;
    border: 0px;
    background-color: #444;
    color: white;
}

.search-filter-bar .searchbar-form .search-button{
    border: 1px solid greenyellow;
    background-color: transparent;
    color: white;
}
.search-filter-bar .searchbar-form .search-button:hover {
    background-color: rgba(172, 255, 47, 0.638);
    color: black;
}
.search-filter-bar .dropdown button{
    height: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: #444;
    border: 0px;
    color: white;
}

.search-filter-bar .dropdown .dropdown-menu{
    background-color: #444;
    
}
.search-filter-bar .dropdown .dropdown-item{
    color: white;
}

.homepage-sidebar{
    height: 53rem;
    width: 32rem;
    background-color: transparent;
    color: black;
    position: absolute;
    z-index: 3;
    top: 26.5rem;
    left: 1rem;
}
.homepage-sidebar-b{
    height: 53rem;
    width: 32rem;
    background-color: transparent;
    color: black;
    position: absolute;
    z-index: 3;
    top: 4.5rem;
    left: 1rem;
}

.homepage-sidebar img , .homepage-sidebar-b img{

    height: 22rem;
    width: 25rem;
    
    border-radius: 10px;
  }

.homepage-sidebar h1 , .homepage-sidebar-b h1{
    position: absolute;
    color: white;
    text-shadow: 2px 2px 5px black;

}

.homepage-sidebar div, .homepage-sidebar-b div{
    position: absolute;
    left: 2rem;
    /* margin: 2rem; */
    z-index: 3;
    text-align: center;
    display: flex;
    justify-content: center;
    background-size: contain;
    align-items: center;
    height: 22rem;
    width: 25rem;
    background-size: cover;
    border-radius: 10px;
    box-shadow: rgba(223, 222, 222, 0.4) -5px 5px, rgba(182, 181, 182, 0.3) -10px 10px,rgba(172, 172, 172, 0.2) -15px 15px, rgba(143, 142, 142, 0.1) -20px 20px, rgba(106, 104, 105, 0.05) -25px 25px;
}
.homepage-sidebar-b #diva {
    top: 1.5rem;
  }
  .homepage-sidebar #div1 {
    top: 1.5rem;
  }

  .homepage-sidebar #div2 {
    top:26.5rem;
  }
  .homepage-sidebar #div3 {
    top: 51.5rem;
  }
  .homepage-sidebar #div4 {
    top: 76.5rem;
  }

  .homepage-sidebar #div5 {
    top:101.5rem;
  }
  .homepage-sidebar #div6 {
    top: 126.5rem;
  }
  .homepage-sidebar #div7 {
    top: 151.5rem;
  }
.service{
    margin-top: 50px;
}

.service .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(26em,1fr));
    gap: 1rem;
}
.service .box-container .box{
    border-radius: 50%;
    background: #333;
    text-align: center;
    padding:2.5rem;
}

.service .box-container .box i{

height: 6rem;
width: 6rem;
line-height: 6rem;
border-radius: 50%;
font-size: 2.5rem;
background: var(--main-color);
color: #fff;

}

.service .box-container .box h3{

    font-size: 2rem;
    color: #fff;
    padding: 1rem 0;
}

.service .box-container .box p{

    font-size: 1.4rem;
    color: #eee;
    line-height: 1.8;
}

.about{
    margin-top: 50px;
}

.about .row{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    gap:1.5rem;
    width: 100%;
}

.about .row .image{
    flex:1 1 45rem;
    padding:0;
}

.about .row .image img{
    width:500px;
    height: 300px;
    background-size: cover;
    border-radius: .5rem;
    border: 1rem solid #333;
}

.about .row .content{
    flex:1 1 45rem;
    padding: 0;
}

.about .row .content h3{ 
    font-size:3rem;
    color:black;
}

.about .row .content p{ 
    font-size:1rem;
    color:black;
    padding:1rem 0;
    line-height:2;
}
.background-image-land{
    position: absolute;
    left: 0;
    right: 0;
    top: 60;
    z-index: -2;
    display: flex;
    background-image:  url("../resources/login_back.jpg");
    background-size: cover;
    width: 100%;
    height: 50rem;
    filter: brightness(50%);
}

.landpagebody h1, p{
    color: white;
}

.background-image-home{
    position: absolute;
    left: 0;
    right: 0;
    top: 60;
    z-index: -2;
    display: flex;
    background-image:  url("../resources/creat_back.jpg");
    background-size: auto;
    width: 100%;
    height: 200rem;
    filter: brightness(50%);
}

::-webkit-input-placeholder {
    font-style: italic;
 }


 .contact{
    margin-top: 70px;
 }
.contact form{
    max-width:50rem;
    margin:.5rem auto;
    text-align:center;
}
.contact .heading{
    color: white;
}

.contact form .inputBox{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.contact form .inputBox input,
.contact form textarea{
    width:100%;
    background:#333;
    border-radius: .5rem;
    padding: 1rem;
    margin: .7rem 0;
    font-size: 1.5rem;
    color:#fff;
    text-transform:none;
}
.contact form .inputBox input{
    height: 3rem;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder{
    color:#eee;
    text-transform:capitalize;
}

.contact form .inputBox input:focus,
.contact form textarea:focus{
    background:#444;
}

.contact form .inputBox input{
    width:49%;
}

.contact form textarea{
    resize:none;
}

.contact .inputBox .button{
    width: 15rem;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
}


